app-left,
app-middle,
app-right {
  border: 3px solid lightgrey;
  margin: 20px;
  padding: 30px;
  display: inline-block;
  width: 120px;
}

div.container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  div {
    outline: 1px solid grey;
    margin: 10px;
    padding: 10px;
    color: white;
  }
}

app-left {
  .container {
    div {
      background-color: darkorange;
    }
  }
}

app-middle {
  .container {
    div {
      background-color: mediumseagreen;
    }
  }
}

app-right {
  .container {
    div {
      background-color: mediumvioletred;
    }
  }
}
